<div class="cart-sb">
  <div id="cart-info">
    <h4 class="title">{{ 'general.header.cart_info.your_cart' | t }}</h4>
    <div id="cart-content" class="cart-content">
      <div class="loading"></div>
    </div>
  </div>
</div>