<h4 class="title hidden-xs">Custom Block</h4>
<a href="javascript:;" class="visible-xs" data-toggle="dropdown">
  <h4 class="title">Custom Block</h4>
</a>
<span class="footer-line"></span>

<p>Penatibus. Est, in tortor facilisis! Turpis in platea pellentesque, vel amet? Odio scelerisque adipiscing mattis risus in placerat sit tincidunt, odio mauris. In tortor facilisis! Turpis in platea pellentesque</p>