<section class="homepage-blog index-section no-fouc" data-section-id="{{ section.id }}">

  {% if section.settings.title != blank %}
  <div class="section-title row">
    <h2>{{ section.settings.title | escape }}</h2>
  </div>
  {% endif %}
  {%- assign blog = blogs[section.settings.blog] -%}
  {%- assign post_limit = section.settings.post_limit -%}
  <div class="row"> 
    {% if blog == blank %}
    {% include 'onboard-blog' %}
    {% else %}
    {% for article in blog.articles limit: post_limit %}
    {% include 'article-loop' %}
    {% endfor %}
    {% endif %}
  </div>
</section>
<div class="clear"></div>

<style>
  section.homepage-blog {
    background: {{ section.settings.homepage-blog-background }};
    padding-bottom: 0;
  }
  section.homepage-blog h2 {
    color: {{ section.settings.homepage-blog-color }}!important; 
  }
</style>


{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "From the blog"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "select",
      "id": "post_limit",
      "label": "Posts",
      "default": "2",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "8",
          "label": "8"
        }
      ]
    },
      {
        "type": "color",
        "id": "homepage-blog-color",
        "label": "Title",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "homepage-blog-background",
        "label": "Background",
        "default": "#fff"
      }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog",
      "settings": {
        "blog": "News",
        "post_limit": "2"
      }
    }
  ]
}
{% endschema %}