<section class="home index-section homepage-section no-fouc" data-section-id="{{ section.id }}" data-section-type="video-section">
  <div class="videoWrapper">
    {% if section.settings.video_url == blank %}
    <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
    {% else %}
    {% if section.settings.video_url.type == "youtube" %}
    <iframe src="//www.youtube.com/embed/{{ section.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% if section.settings.video_url.type == "vimeo" %}
    <iframe src="//player.vimeo.com/video/{{ section.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% endif %}
  </div>
</section>
{% schema %}
  {
    "name": "Featured video",
    "settings": [
      {
      "type": "video_url",
      "id": "video_url",
      "label": "YouTube or Vimeo link",
      "accept": ["youtube", "vimeo"]
      }
	],
  "presets": [
	{
      "name": "Video",
      "category": "video"
    }
	]
  }
{% endschema %}
