<div class="toolbar-wrapper {% if is_full_layout %}toolbar-wrapper--fullwidth{% else %}toolbar-wrapper--sidebar{% endif %}">
  {% include 'filter-control' %}

  {% include 'sorting-dropdown' %}

  {% include 'view-switcher' %}
</div>
