<div class="filter-control {% unless is_full_layout %}large-up--hide{% endunless %}">
  {%- include 'icon-equalizer' -%}
  <span class="filter-control__label">{{ 'general.extras.filter' | t }}</span>
</div>
