<div class="header__sub">
  <div class="page-width">
    {% include 'header-logo' %}
    {% include 'header-extra' %}
  </div>
</div>

<div class="header__main">
  <div class="page-width">
    <div class="site-nav__wrapper">
      <div class="medium-down--hide">
        {% include 'header-nav' %}
      </div>
    </div>

    <div class="second-header-extra">
      {% include 'header-logo' %}
      {% include 'header-extra' %}
    </div>
  </div>
</div>
