<div class="header__main">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item large-up--one-quarter one-whole">
        {% include 'header-logo' %}
      </div>

      {% include 'header-extra' %}

      <div class="grid__item one-whole medium-down--hide">
        {% include 'header-nav' %}
      </div>
    </div>
  </div>
</div>
