<div class="view-switcher js-view-switcher">
  <span class="view-switcher__label">{{ 'general.extras.view' | t }}:</span>
  <a
    class="view-switcher__item active"
    href="javascript:;"
    data-type="grid"
    >
    {%- include 'icon-grid-view' -%}
  </a>
  <a
    class="view-switcher__item"
    href="javascript:;"
    data-type="list"
    >
    {%- include 'icon-list-view' -%}
  </a>
</div>
