.card-box-thumb-desktop,
.card-box-thumb-mobile {
    border: 1px solid var(--bs-card-border-color);
    position: absolute;
    background-color: var(--bs-card-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-box-thumb-desktop {
    width: 75%;
}

.card-box-thumb-desktop img {
    aspect-ratio: 1280/1012;
    opacity: 0;
}

.card-box-thumb-mobile {
    right:7%;
    width:25%;
    bottom:-7%;
}

.card-box-thumb-mobile img {
    aspect-ratio: 320/533;
    opacity: 0;
}

[data-bs-theme=dark] .card-box-thumb-desktop,
[data-bs-theme=dark] .card-box-thumb-mobile {
    box-shadow: 0 0 8px #d9d9d9;
}

.nav.nav-pills.nav-pills-custom .nav-link {
    background-color: var(--bs-white) !important;
}

[data-bs-theme="dark"] .nav.nav-pills.nav-pills-custom .nav-link {
    background-color: #15171C !important;
}

.nav.nav-pills.nav-pills-custom .nav-link.border-solid-1 {
    border: 1px solid var(--bs-border-dashed-color);
}

.nav.nav-pills.nav-pills-custom .nav-link.js-create-template:hover {
    background-color: var(--bs-primary) !important;
}

.nav.nav-pills.nav-pills-custom .nav-link.js-create-template[disabled]:hover {
    background-color: var(--bs-white) !important;
}

[data-bs-theme="dark"] .nav.nav-pills.nav-pills-custom .nav-link.js-create-template[disabled]:hover {
    background-color: #15171C !important;
}

.nav.nav-pills.nav-pills-custom .nav-text {
    width: 100%;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#select2-language-container {
    width: 100%;
}
