{% if settings.show_book %}
  {% if settings.book_collection == blank %}
  <p style="margin-bottom: 30px;" class="container">
    Please select a collection in Theme Setting to display the products (Home Page section -> Home Page Block Books)
  </p>
  {% else %}
  <section class="book widget-block container">
    {% if settings.book_title != blank %}
    <div class="widget-title text-center wow fadeIn">
      <div class="row">
        <div class="col-xs-12 col-sm-4"></div>
        <h3 class="col-xs-12 col-sm-4">{% include 'multilang' with settings.book_title %}</h3>
        <div class="col-xs-12 col-sm-4 text-right">
          <a href="{{ settings.book_link }}">{% include 'multilang' with settings.book_text %}</a>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="widget-product">
      <div class="products-grid owl-carousel">
        {% for product in collections[settings.book_collection].products limit:settings.book_limit_all %}
          {% include 'product-grid-item-slider' %}
        {% endfor %}
      </div> 
    </div>
  </section>

  <script>
  jQuery(document).ready(function() {
    jQuery(".book .widget-product .products-grid").owlCarousel({
      navigation : true,
      items: {{ settings.book_collection_results_per_row }},
      itemsDesktopSmall: [991, 3],
      itemsTablet: [768, 3],
      itemsTabletSmall: [767, 2],
      itemsMobile : [479, 2]
    });
  });
  </script>
  {% endif %}
{% endif %}