{% if settings.display_weekly_special %}
<section class="widget-weekly-special">
  <div class="container">
    {% if settings.weekly_special_collection == blank %}
    <p style="margin-bottom: 30px;">
      Please select a collection in Theme Setting to display the products (Home Page section -> Home Page Weekly Special)
    </p>
    {% else %}

    {% if settings.weekly_special_title != blank %}
    <div class="widget-title text-center wow fadeIn">
      <h3>{% include 'multilang' with settings.weekly_special_title %}</h3>
    </div>
    {% endif %}
    <div class="widget-product hidden-xs">
      <div class="products-grid{% if settings.weekly_special_per_row != '5' %} row{% endif %}">
        {% for product in collections[settings.weekly_special_collection].products limit:settings.weekly_special_limit_all %}
        {% include 'product-grid-item' %}	  
        {% endfor %}
      </div> 
      {% assign products_to_show = settings.weekly_special_limit | plus:0 %} 
      {% if settings.display_infinite_scrolling_homepage and collections[settings.weekly_special_collection].all_products_count > products_to_show %}

      <div class="infinite-scrolling-homepage wow fadeIn">
        <a href="javascript:void(0)" {% if settings.enable_multilang %}data-translate="home_page.show_more"{% endif %}>{{ 'home_page.show_more' | t }}</a>
      </div>

      <script>
        var productsToShow = {{ products_to_show }};
        var totalProducts = {{collections[settings.weekly_special_collection].all_products_count}};
        jQuery(".infinite-scrolling-homepage a").click(function() {
          if (jQuery('.widget-weekly-special .hidden-xs .products-grid .grid-item:hidden').length > 0) {
            jQuery('.widget-weekly-special .hidden-xs .products-grid .grid-item:hidden:lt('+productsToShow+')').each(function() {
                jQuery(this).show();
                {% if settings.product_item_no_hover %}
                jQuery(this).find('img').css('height','auto');              
                {% endif %}
                if (window.product_image_resize) {
                    jQuery(this).find('img').fakecrop({ 
                        fill: window.images_size.is_crop,
                        widthSelector: ".widget-weekly-special .hidden-xs .products-grid .grid-item:first .product-image",
                        ratioWrapper: window.images_size
                    });
                }
            });        

            jQuery("window" ).scroll();
            if (jQuery('.widget-weekly-special .hidden-xs .products-grid .grid-item:hidden').length == 0) {
              //no more products
              var noMoreText = "{{ 'home_page.no_more_product' | t}}";              
              {% if settings.enable_multilang %}
              if (translator.isLang2()) 
                noMoreText = window.lang2.home_page.no_more_product;
              {% endif %}
              jQuery(".widget-weekly-special .infinite-scrolling-homepage a").text(noMoreText).addClass('disabled');              
            }
          }
        });
      </script>
      {% endif %}
    </div>
    
    <div class="widget-product visible-xs">
      <div class="products-grid owl-carousel">
        {% for product in collections[settings.weekly_special_collection].products limit:settings.weekly_special_limit_all %}
          {% include 'product-grid-item-mb' %}
        {% endfor %}
      </div> 
    </div>
    
    <script>
      jQuery(document).ready(function() {
        jQuery(".widget-weekly-special .products-grid.owl-carousel").owlCarousel({
          navigation : true,
          itemsTabletSmall: [767, 2],
          itemsMobile : [479, 1]
        });
      });
    </script>

    {% include 'homepage-block-two-banner-1' %}

    {% endif %}
  </div>
</section> 
{% endif %}