{% assign number_of_related_products = settings.number_of_related_products | plus:1 %}
{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
  {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
  {% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
<section class="related-products text-center container">
  {% if settings.related_products_title != blank %}
    <h2>{% include 'multilang' with settings.related_products_title %}</h2>
  {% endif %}
  <div class="products-grid">
  {% assign current_product = product %}
  {% assign current_product_found = false %}
  {% for product in collection.products limit: number_of_related_products %}
    {% if product.handle == current_product.handle %}
       {% assign current_product_found = true %}
    {% else %}
       {% unless current_product_found == false and forloop.last %}
       	{% include 'related-product-grid-item' %}
       {% endunless %}
    {% endif %}
  {% endfor %}
  </div>
</section>
<script>
  jQuery(document).ready(function() {
    jQuery(".related-products .products-grid").owlCarousel({
      scrollPerPage: true,
      stopOnHover: true,     
      navigation: true,
      items: {{ settings.related_products_per_row }},
      itemsDesktopSmall: [991, 3],
      itemsTablet: [768, 3],
      itemsTabletSmall: [767, 2],
      itemsMobile : [479, 2]
    });
  });
</script>
{% endif %}