<div class="review-badge">
  {% if badge_template == "product" %}
    <!-- INSERT (product page) REVIEW BADGE HERE -->
    
  {% elsif badge_template == "grid" %}
    <!-- INSERT (product grid) REVIEW BADGE HERE -->
    
  {% endif %}
</div>