
<div class="about-us">
{% section 'about-page-intro' %}

{% section 'about-border-icon-section' %}
  
{% section 'about-banner' %}

{% section 'about' %}
  
{% section 'about-page-number-block' %}

{% section 'about-page-team' %}
  
</div>