<!--ID-home-flowers-demo-baselmyshopifycom--><!--[shopify-slider alias="home-flowers-demo-baselmyshopifycom"] -->
<div id="rev_slider_809_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-flowers-demo-baselmyshopifycom" style="margin:0px auto;background-color:#fafafc;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
	<div id="rev_slider_809_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-2907" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/ebcc8-main-slider-flowers-4.jpg?3392523372381972706"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/ebcc8-main-slider-flowers-4.jpg?3392523372381972706"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Power0.easeInOut" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 -30" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2907-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['349','250','150','30']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-13','0','0','0']" 
						data-width="368"
			data-height="342"
			data-whitespace="normal"
			data-visibility="['off','off','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; min-width: 368px; max-width: 368px; max-width: 342px; max-width: 342px; white-space: normal; font-weight: 400;text-align:center;padding:40px 30px;background-color:rgb(254, 191, 211);color:white;border:2px solid white;outline:10px solid rgb(254, 191, 211);"> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2907-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['778','568','349','73']" 
			 data-y="['top','top','top','top']" data-voffset="['108','111','209','118']" 
						data-width="386"
			data-height="360"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;font-family:Open Sans;background-color:rgba(254, 191, 211, 1.00);border-color:rgba(0, 0, 0, 0);border-style:solid;"> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2907-layer-13" 
			 data-x="['left','left','left','left']" data-hoffset="['786','576','355','80']" 
			 data-y="['top','top','top','top']" data-voffset="['116','119','217','128']" 
						data-width="368"
			data-height="342"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 7;font-family:Open Sans;background-color:rgba(254, 191, 211, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2907-layer-5" 
			 data-x="['center','center','center','center']" data-hoffset="['350','250','154','30']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-95','-95','-95','-95']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:playball;">Hand drawn Flowers </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
			 id="slide-2907-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['196','99','7','-119']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['8','-16','-16','-16']" 
						data-width="none"
			data-height="none"
			data-whitespace="normal"
			data-transform_idle="o:1;rZ:334;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 9;"><img src="https://dev.xtemos.com/new/wp-content/uploads/2015/08/baterfly-slider.png" alt="" data-ww="['340px','340px','340px','340px']" data-hh="['476px','476px','476px','476px']" data-no-retina> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2907-layer-7" 
			 data-x="['center','center','center','center']" data-hoffset="['350','250','153','30']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 10; white-space: nowrap; font-size: 28px; line-height: 42px; color: rgba(255, 255, 255, 1.00);font-family:lora;text-transform:uppercase;">beautiful nature </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2907-layer-8" 
			 data-x="['center','center','center','center']" data-hoffset="['350','250','150','30']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['60','60','60','60']" 
						data-width="337"
			data-height="110"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 11; min-width: 337px; max-width: 337px; max-width: 110px; max-width: 110px; white-space: normal; font-size: 14px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:karla;text-align:center;letter-spacing:.3px;">Netus malesuada mi  a scelerisque vehicula commodo
 tincint a diam a dibus fusce  fringilla 
a curae vulputate in eros. </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2907-layer-19" 
			 data-x="['left','left','left','left']" data-hoffset="['869','653','435','166']" 
			 data-y="['top','top','top','top']" data-voffset="['236','235','338','238']" 
						data-width="209"
			data-height="101"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 12; min-width: 209px; max-width: 209px; max-width: 101px; max-width: 101px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;">Group15 </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2907-layer-15" 
			 data-x="['left','left','left','left']" data-hoffset="['69','69','69','69']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="21"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 13;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2907-layer-16" 
			 data-x="['left','left','left','left']" data-hoffset="['111','111','111','111']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="21"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 14;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 11 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2907-layer-17" 
			 data-x="['left','left','left','left']" data-hoffset="['94','94','94','94']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="14"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;rZ:45;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 15;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 12 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2907-layer-18" 
			 data-x="['left','left','left','left']" data-hoffset="['94','94','94','94']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="14"
			data-height="1"
			data-whitespace="nowrap"
			data-transform_idle="o:1;rZ:-45;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 16;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 13 -->
		<div class="tp-caption rev-btn " 
			 id="slide-2907-layer-20" 
			 data-x="['left','left','left','left']" data-hoffset="['944','727','509','238']" 
			 data-y="['top','top','top','top']" data-voffset="['400','400','501','399']" 
						data-width="none"
			data-height="14"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(255, 255, 255, 0);bc:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 17; max-width: 14px; max-width: 14px; white-space: nowrap; font-size: 12px; line-height: 12px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:karla;background-color:rgba(0, 0, 0, 0);border-color:rgba(255, 255, 255, 0.50);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Read More </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-2908" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/08b64-slider-flowers.jpg?3392523372381972706"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/08b64-slider-flowers.jpg?3392523372381972706"  alt=""  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2908-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['78','67','71','38']" 
			 data-y="['top','top','top','top']" data-voffset="['120','117','219','108']" 
						data-width="386"
			data-height="360"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;font-family:Open Sans;background-color:rgba(252, 174, 230, 1.00);border-color:rgba(0, 0, 0, 0);border-style:solid;"> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2908-layer-13" 
			 data-x="['left','left','left','left']" data-hoffset="['85','75','80','46']" 
			 data-y="['top','top','top','top']" data-voffset="['129','128','228','116']" 
						data-width="368"
			data-height="342"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;font-family:Open Sans;background-color:rgba(254, 191, 211, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2908-layer-5" 
			 data-x="['center','center','center','center']" data-hoffset="['-350','-250','-130','-10']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-95','-95','-95','-95']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:playball;">Hand drawn Flowers </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
			 id="slide-2908-layer-6" 
			 data-x="['left','left','left','left']" data-hoffset="['-50','-50','-48','-89']" 
			 data-y="['top','top','top','top']" data-voffset="['80','80','152','48']" 
						data-width="none"
			data-height="none"
			data-whitespace="normal"
			data-transform_idle="o:1;rZ:334;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 8;"><img src="https://dev.xtemos.com/new/wp-content/uploads/2015/08/baterfly-slider.png" alt="" data-ww="['340px','340px','340px','340px']" data-hh="['476px','476px','476px','476px']" data-no-retina> </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2908-layer-7" 
			 data-x="['center','center','center','center']" data-hoffset="['-350','-250','-130','-10']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 9; white-space: nowrap; font-size: 28px; line-height: 42px; color: rgba(255, 255, 255, 1.00);font-family:lora;text-transform:uppercase;">beautiful nature </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2908-layer-8" 
			 data-x="['center','center','center','center']" data-hoffset="['-350','-250','-130','-10']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['60','60','60','60']" 
						data-width="337"
			data-height="110"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 10; min-width: 337px; max-width: 337px; max-width: 110px; max-width: 110px; white-space: normal; font-size: 14px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:karla;text-align:center;letter-spacing:.3px;">Netus malesuada mi  a scelerisque vehicula commodo
 tincint a diam a dibus fusce  fringilla 
a curae vulputate in eros. </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2908-layer-20" 
			 data-x="['left','left','left','left']" data-hoffset="['167','151','162','124']" 
			 data-y="['top','top','top','top']" data-voffset="['237','236','338','237']" 
						data-width="200"
			data-height="200"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 11; min-width: 200px; max-width: 200px; max-width: 200px; max-width: 200px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;">Group16 </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2908-layer-15" 
			 data-x="['left','left','left','left']" data-hoffset="['69','69','69','69']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="21"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 12;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2908-layer-16" 
			 data-x="['left','left','left','left']" data-hoffset="['111','111','111','111']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="21"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 13;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2908-layer-17" 
			 data-x="['left','left','left','left']" data-hoffset="['94','94','94','94']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="14"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;rZ:45;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 14;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 11 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2908-layer-18" 
			 data-x="['left','left','left','left']" data-hoffset="['94','94','94','94']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="14"
			data-height="1"
			data-whitespace="nowrap"
			data-transform_idle="o:1;rZ:-45;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 15;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 12 -->
		<div class="tp-caption rev-btn " 
			 id="slide-2908-layer-14" 
			 data-x="['left','left','left','left']" data-hoffset="['236','223','235','197']" 
			 data-y="['top','top','top','top']" data-voffset="['404','405','502','399']" 
						data-width="none"
			data-height="14"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(255, 255, 255, 0);bc:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 16; max-width: 14px; max-width: 14px; white-space: nowrap; font-size: 12px; line-height: 12px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:karla;background-color:rgba(0, 0, 0, 0);border-color:rgba(255, 255, 255, 0.50);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Read More </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-2909" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/90998-main-slider-flowers-3.jpg?3392523372381972706"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/90998-main-slider-flowers-3.jpg?3392523372381972706"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2909-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['-350','-260','-120','-10']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-width="368"
			data-height="342"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; min-width: 368px; max-width: 368px; max-width: 342px; max-width: 342px; white-space: normal; font-weight: 400;text-align:center;padding:40px 30px;background-color:rgb(255, 220, 214);color:white;border:2px solid white;outline:10px solid rgb(255, 220, 214);"> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2909-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['76','59','75','37']" 
			 data-y="['top','top','top','top']" data-voffset="['121','119','216','121']" 
						data-width="386"
			data-height="360"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;font-family:Open Sans;background-color:rgba(255, 220, 214, 1.00);border-color:rgba(0, 0, 0, 0);border-style:solid;"> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2909-layer-13" 
			 data-x="['left','left','left','left']" data-hoffset="['85','68','83','46']" 
			 data-y="['top','top','top','top']" data-voffset="['129','128','226','129']" 
						data-width="368"
			data-height="342"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 7;font-family:Open Sans;background-color:rgba(254, 191, 211, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2909-layer-5" 
			 data-x="['center','center','center','center']" data-hoffset="['-350','-260','-120','-10']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-95','-95','-95','-95']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:playball;">Hand drawn Flowers </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
			 id="slide-2909-layer-6" 
			 data-x="['left','left','left','left']" data-hoffset="['-60','-73','-47','-76']" 
			 data-y="['top','top','top','top']" data-voffset="['85','94','170','72']" 
						data-width="none"
			data-height="none"
			data-whitespace="normal"
			data-transform_idle="o:1;rZ:334;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 9;"><img src="https://dev.xtemos.com/new/wp-content/uploads/2015/08/baterfly-slider.png" alt="" data-ww="['340px','340px','340px','340px']" data-hh="['476px','476px','476px','476px']" data-no-retina> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2909-layer-7" 
			 data-x="['center','center','center','center']" data-hoffset="['-350','-260','-120','-10']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 10; white-space: nowrap; font-size: 28px; line-height: 42px; color: rgba(255, 255, 255, 1.00);font-family:lora;text-transform:uppercase;">beautiful nature </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2909-layer-8" 
			 data-x="['center','center','center','center']" data-hoffset="['-350','-260','-120','-10']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['60','60','60','60']" 
						data-width="337"
			data-height="110"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 11; min-width: 337px; max-width: 337px; max-width: 110px; max-width: 110px; white-space: normal; font-size: 14px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:karla;text-align:center;letter-spacing:.3px;">Netus malesuada mi  a scelerisque vehicula commodo
 tincint a diam a dibus fusce  fringilla 
a curae vulputate in eros. </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2909-layer-19" 
			 data-x="['left','left','left','left']" data-hoffset="['167','147','166','120']" 
			 data-y="['top','top','top','top']" data-voffset="['235','235','334','236']" 
						data-width="200"
			data-height="200"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 12; min-width: 200px; max-width: 200px; max-width: 200px; max-width: 200px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;">Group15 </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2909-layer-14" 
			 data-x="['left','left','left','left']" data-hoffset="['69','69','69','69']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="21"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 13;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2909-layer-15" 
			 data-x="['left','left','left','left']" data-hoffset="['111','111','111','111']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="21"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 14;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 11 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2909-layer-16" 
			 data-x="['left','left','left','left']" data-hoffset="['94','94','94','94']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="14"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;rZ:45;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 15;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 12 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2909-layer-17" 
			 data-x="['left','left','left','left']" data-hoffset="['94','94','94','94']" 
			 data-y="['top','top','top','top']" data-voffset="['50','50','50','50']" 
						data-width="14"
			data-height="1"
			data-whitespace="nowrap"
			data-transform_idle="o:1;rZ:-45;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 16;font-family:Open Sans;background-color:rgba(255, 255, 255, 0);border-color:rgba(255, 255, 255, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 13 -->
		<div class="tp-caption rev-btn " 
			 id="slide-2909-layer-18" 
			 data-x="['left','left','left','left']" data-hoffset="['237','218','240','194']" 
			 data-y="['top','top','top','top']" data-voffset="['404','392','492','399']" 
						data-width="none"
			data-height="14"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(255, 255, 255, 0);bc:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 17; max-width: 14px; max-width: 14px; white-space: nowrap; font-size: 12px; line-height: 12px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:karla;background-color:rgba(0, 0, 0, 0);border-color:rgba(255, 255, 255, 0.50);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Read More </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-home-flowers-demo-baselmyshopifycom-->