<!--ID-coming-soon-demo-baselmyshopifycom--><!--[shopify-slider alias="coming-soon-demo-baselmyshopifycom"] -->
<div id="rev_slider_1046_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="coming-soon-demo-baselmyshopifycom" style="background-color:transparent;padding:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 fullscreen mode -->
	<div id="rev_slider_1046_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-3777" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power2.easeInOut" data-easeout="Power2.easeInOut" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/1-red5.jpg?9096745298900756870"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
</ul>
<div style="" class="tp-static-layers">

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme tp-static-layer" 
			 id="slider-1046-layer-1" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-149','-149','-149','-149']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:45deg;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;s:3000;e:Back.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="1000" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 5;">
<div class="rs-looped rs-pulse"  data-easing="Power3.easeInOut" data-speed="0.5" data-zoomstart="1" data-zoomend="0.99"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/comingsoon.png?17007618377355407478" alt="" data-ww="['650px','650px','500','360']" data-hh="['190px','190px','146','105']" data-no-retina> </div></div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption ComingSoon-Highlight   tp-resizeme tp-static-layer" 
			 id="slider-1046-layer-2" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-68']" 
						data-fontsize="['20','20','20','15']"
			data-lineheight="['37','37','37','30']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:-45deg;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;s:3000;e:Back.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="1000" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 6; white-space: nowrap; font-size: 20px;padding:0 20px 2px 20px;">Get ready for the next big thing in webdesign. </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption ComingSoon-Count   tp-resizeme tp-static-layer" 
			 id="c_days" 
			 data-x="['center','center','center','center']" data-hoffset="['-180','-180','-180','-120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','10']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:400;e:Back.easeOut;" 
			 data-transform_out="auto:auto;s:400;e:Back.easeIn;" 
			data-start="3000" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="0" 
			
			style="z-index: 7; min-width: 120px; max-width: 120px; white-space: nowrap;text-align:center;">03 </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption ComingSoon-CountUnit   tp-resizeme tp-static-layer" 
			 id="slider-1046-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['-180','-180','-180','-120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','42']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="3000" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 8; min-width: 120px; max-width: 120px; white-space: nowrap;text-align:center;">days </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption ComingSoon-Count   tp-resizeme tp-static-layer" 
			 id="c_hours" 
			 data-x="['center','center','center','center']" data-hoffset="['-60','-60','-60','-39']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','10']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:400;e:Back.easeOut;" 
			 data-transform_out="auto:auto;s:400;e:Back.easeIn;" 
			data-start="3150" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 9; min-width: 120px; max-width: 120px; white-space: nowrap;text-align:center;">12 </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption ComingSoon-CountUnit   tp-resizeme tp-static-layer" 
			 id="slider-1046-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['-60','-60','-60','-40']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','42']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="3150" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 10; min-width: 120px; max-width: 120px; white-space: nowrap;text-align:center;">hours </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption ComingSoon-Count   tp-resizeme tp-static-layer" 
			 id="c_minutes" 
			 data-x="['center','center','center','center']" data-hoffset="['60','60','60','40']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','10']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:400;e:Back.easeOut;" 
			 data-transform_out="auto:auto;s:400;e:Back.easeIn;" 
			data-start="3300" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 11; min-width: 120px; max-width: 120px; white-space: nowrap;text-align:center;">54 </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption ComingSoon-CountUnit   tp-resizeme tp-static-layer" 
			 id="slider-1046-layer-8" 
			 data-x="['center','center','center','center']" data-hoffset="['60','60','60','40']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','42']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="3300" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 12; min-width: 120px; max-width: 120px; white-space: nowrap;text-align:center;">minutes </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption ComingSoon-Count   tp-resizeme tp-static-layer" 
			 id="c_seconds" 
			 data-x="['center','center','center','center']" data-hoffset="['180','180','180','120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','10']" 
						data-fontsize="['50','50','50','30']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:400;e:Back.easeOut;" 
			 data-transform_out="auto:auto;s:400;e:Back.easeIn;" 
			data-start="3450" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 13; min-width: 120px; max-width: 120px; white-space: nowrap;text-align:center;">04 </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption ComingSoon-CountUnit   tp-resizeme tp-static-layer" 
			 id="slider-1046-layer-10" 
			 data-x="['center','center','center','center']" data-hoffset="['180','180','180','120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','42']" 
						data-fontsize="['20','20','20','15']"
			data-width="120"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="3450" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 14; min-width: 120px; max-width: 120px; white-space: nowrap;text-align:center;">seconds </div>

		<!-- LAYER NR. 11 -->
		<div class="tp-caption ComingSoon-NotifyMe   tp-static-layer" 
			 id="slider-1046-layer-11" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['102','102','100','100']" 
						data-fontsize="['27','27','22','18']"
			data-lineheight="['35','35','35','30']"
			data-color="['rgba(255, 255, 255, 1.00)','rgba(255, 255, 255, 1.00)','rgba(164, 157, 143, 1.00)','rgba(164, 157, 143, 1.00)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:100;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="4500" 
			data-splitin="chars" 
			data-splitout="none" 
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="0" 
			data-endslide="0" 
			data-elementdelay="0.02" 
			
			style="z-index: 15; white-space: nowrap; font-weight: 900; color: rgba(255, 255, 255, 1.00);text-align:center;">Shall we notify you once it’s ready? </div>

		<!-- LAYER NR. 12 -->
		<div class="tp-caption   tp-static-layer" 
			 id="slider-1046-layer-12" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','30','30']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:bottom;s:2000;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="5000" 
			data-splitin="none" 
			data-splitout="none" 
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="0" 
			data-endslide="0" 
			
			style="z-index: 16; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);"><div id="mc_embed_signup"><form action="//themepunch.us9.list-manage.com/subscribe/post?u=a5738148e5ec630766e28de16&amp;id=3e718acc63" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll"><input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="vertical-align: middle;" placeholder="Your Email Address" required><div style="position: absolute; left: -5000px;"><input type="text" name="b_a5738148e5ec630766e28de16_3e718acc63" tabindex="-1" value=""></div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="vertical-align: middle;" class="button"></div></form></div> </div>

		<!-- LAYER NR. 13 -->
		<div class="tp-caption   tp-static-layer" 
			 id="slider-1046-layer-13" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['21','21','21','20']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:top;s:1500;e:Power3.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slider-1046-layer-14","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slider-1046-layer-14","delay":""}]'
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="0" 
			data-endslide="0" 
			
			style="z-index: 17;cursor:pointer;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/logo-white.png?12324838010280447278" alt="" data-ww="['220px','220px','220px','92px']" data-hh="['53px','53px','53px','34px']" data-no-retina> </div>

		<!-- LAYER NR. 14 -->
		<div class="tp-caption Agency-LogoText   tp-static-layer" 
			 id="slider-1046-layer-14" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['84','84','84','74']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:100;e:Power2.easeInOut;" 
			 data-transform_out="auto:auto;s:300;" 
			data-start="bytrigger" 
			data-splitin="chars" 
			data-splitout="none" 
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="0" 
			data-endslide="0" 
			data-elementdelay="0.02" 
			 data-end="bytrigger"
			data-lasttriggerstate="reset"
			style="z-index: 18; white-space: nowrap;text-align:center;">SOUTH MAIN STREET 542, T. 0800-987654 </div>

		<!-- LAYER NR. 15 -->
		<div class="tp-caption Agency-LogoText   tp-static-layer" 
			 id="slider-1046-layer-15" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['65','65','65','55']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="1700" 
			data-splitin="none" 
			data-splitout="none" 
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="0" 
			data-endslide="0" 
			
			style="z-index: 19; white-space: nowrap;text-align:center;">NYC </div>
</div>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-coming-soon-demo-baselmyshopifycom-->