<!--ID-lingerie-demo-baselmyshopifycom--><!--[shopify-slider alias="lingerie-demo-baselmyshopifycom"] -->
<div id="rev_slider_925_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="lingerie-demo-baselmyshopifycom" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
	<div id="rev_slider_925_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-3381" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/eb870-slider-bikini-6.jpg?674768393319518638"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/eb870-slider-bikini-6.jpg?674768393319518638"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3381-layer-2" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-152','-86','-86','-86']" 
						data-fontsize="['39','28','22','22']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 39px; line-height: 60px; font-weight: 400; color: rgba(238, 70, 132, 1.00);font-family:Satisfy;">New Collections </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3381-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['-3','-2','-2','-2']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-112','-54','-55','-55']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/divider-flower.png?12930501266947638565" alt="" data-ww="['80px','80px','80px','80px']" data-hh="['20px','20px','20px','20px']" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3381-layer-1" 
			 data-x="['center','center','center','center']" data-hoffset="['-4','4','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-58','-6','-14','-14']" 
						data-fontsize="['72','56','42','38']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 72px; line-height: 60px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Karla;">BRAND YOU MUST HAVE </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-3381-layer-5" 
			 data-x="['center','center','center','center']" data-hoffset="['-3','-4','-4','-4']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['17','56','44','44']" 
						data-color="['rgba(242, 242, 242, 1.00)','rgba(242, 242, 242, 1.00)','rgba(242, 242, 242, 1.00)','rgba(255, 255, 255, 1.00)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 22px; font-weight: 400; color: rgba(242, 242, 242, 1.00);font-family:Karla;text-align:center;letter-spacing:.6px;opacity:0.8;">Suspendisse ridiculus parturient ac a dui cursus interdum dignissim netus habitant<br> ultrices et mattis urna sem a euismod a adipiscing faucibus a. </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption rev-btn " 
			 id="slide-3381-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['-2','0','-1','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['78','122','108','56']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Karla;background-color:rgba(0, 0, 0, 0);padding:10px 30px 10px 30px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-3381-layer-7" 
			 data-x="['left','left','left','left']" data-hoffset="['957','803','599','599']" 
			 data-y="['top','top','top','top']" data-voffset="['169','222','293','293']" 
						data-width="92"
			data-height="92"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 10;background-color:rgba(196, 31, 31, 1.00);border-color:rgba(0, 0, 0, 0.50);border-style:solid;border-radius:60px 60px 60px 60px;"> </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3381-layer-8" 
			 data-x="['left','left','left','left']" data-hoffset="['968','812','607','607']" 
			 data-y="['top','top','top','top']" data-voffset="['211','267','340','340']" 
						data-width="none"
			data-height="none"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 11; white-space: normal; font-size: 32px; line-height: 22px; font-weight: 900; color: rgba(255, 255, 255, 1.00);font-style:italic;">-30% </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3381-layer-9" 
			 data-x="['left','left','left','left']" data-hoffset="['984','831','629','629']" 
			 data-y="['top','top','top','top']" data-voffset="['185','239','312','312']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 12; white-space: nowrap; font-size: 16px; line-height: 22px; font-weight: 400; color: rgba(232, 232, 232, 1.00);">SALE
 </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-3382" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/34e8d-slider-bikini-5.jpg?674768393319518638"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/34e8d-slider-bikini-5.jpg?674768393319518638"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3382-layer-2" 
			 data-x="['center','center','center','center']" data-hoffset="['1','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-152','-86','-86','-86']" 
						data-fontsize="['39','28','22','22']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 39px; line-height: 60px; font-weight: 400; color: rgba(238, 70, 132, 1.00);font-family:Satisfy;">New Collections </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3382-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['-3','-2','-2','-2']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-112','-54','-55','-55']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/divider-flower.png?12930501266947638565" alt="" data-ww="['80px','80px','80px','80px']" data-hh="['20px','20px','20px','20px']" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3382-layer-1" 
			 data-x="['center','center','center','center']" data-hoffset="['-4','4','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-58','-6','-14','-14']" 
						data-fontsize="['72','56','42','38']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 72px; line-height: 60px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Karla;">BEST LINGERIE EVER </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-3382-layer-5" 
			 data-x="['center','center','center','center']" data-hoffset="['-3','-4','-4','-4']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['17','56','44','44']" 
						data-color="['rgba(242, 242, 242, 1.00)','rgba(242, 242, 242, 1.00)','rgba(242, 242, 242, 1.00)','rgba(255, 255, 255, 1.00)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 22px; font-weight: 400; color: rgba(242, 242, 242, 1.00);font-family:Karla;text-align:center;letter-spacing:.6px;opacity:0.8;">Suspendisse ridiculus parturient ac a dui cursus interdum dignissim netus habitant<br> ultrices et mattis urna sem a euismod a adipiscing faucibus a. </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption rev-btn " 
			 id="slide-3382-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['-2','0','-1','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['78','122','108','56']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Karla;background-color:rgba(0, 0, 0, 0);padding:10px 30px 10px 30px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-3382-layer-7" 
			 data-x="['left','left','left','left']" data-hoffset="['928','753','753','753']" 
			 data-y="['top','top','top','top']" data-voffset="['184','230','230','230']" 
						data-width="92"
			data-height="92"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 10;background-color:rgba(196, 31, 31, 1.00);border-color:rgba(0, 0, 0, 0.50);border-style:solid;border-radius:60px 60px 60px 60px;"> </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3382-layer-8" 
			 data-x="['left','left','left','left']" data-hoffset="['939','762','762','762']" 
			 data-y="['top','top','top','top']" data-voffset="['228','275','275','275']" 
						data-width="none"
			data-height="none"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 11; white-space: normal; font-size: 32px; line-height: 22px; font-weight: 900; color: rgba(255, 255, 255, 1.00);font-style:italic;">-30% </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3382-layer-9" 
			 data-x="['left','left','left','left']" data-hoffset="['955','783','783','783']" 
			 data-y="['top','top','top','top']" data-voffset="['200','247','247','247']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;rZ:2;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 12; white-space: nowrap; font-size: 16px; line-height: 22px; font-weight: 400; color: rgba(232, 232, 232, 1.00);">SALE
 </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-lingerie-demo-baselmyshopifycom-->