<!--ID-home-cosmetic-demo-baselmyshopifycom--><!--[shopify-slider alias="home-cosmetic-demo-baselmyshopifycom"] -->
<div id="rev_slider_926_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-cosmetic-demo-baselmyshopifycom" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
	<div id="rev_slider_926_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-3383" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#ffffff' alt=""  data-bgposition="right center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3383-layer-20" 
			 data-x="['right','right','right','right']" data-hoffset="['-296','-657','-700','-993']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['5','5','0','-1']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/e04a5-slide_cosm_1-1.jpg?9063610536396619981" alt="" data-ww="['1900px','2118px','1900px','1900px']" data-hh="['600px','669px','600px','619px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3383-layer-15" 
			 data-x="['center','center','center','center']" data-hoffset="['-266','-123','-81','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-197','-194','-202','-216']" 
						data-fontsize="['18','18','18','14']"
			data-width=""
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; min-width: px; max-width: px; white-space: nowrap; font-size: 18px; line-height: 46px; font-weight: 700; color: rgba(153, 153, 153, 1.00);font-family:Karla;text-align:center;letter-spacing:2px;">DISCOVER MORE SKINCARE </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3383-layer-13" 
			 data-x="['center','center','center','center']" data-hoffset="['-265','-124','-81','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-131','-117','-117','-146']" 
						data-fontsize="['38','32','32','22']"
			data-lineheight="['46','40','40','28']"
			data-width=""
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; min-width: px; max-width: px; white-space: nowrap; font-size: 38px; line-height: 46px; font-weight: 400; color: rgba(35, 35, 35, 1.00);font-family:Sumana;text-align:center;letter-spacing:-0.3px;">Pink and gold lipsticks for every<br>
skintone new trending in 2016 season </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3383-layer-19" 
			 data-x="['center','center','center','center']" data-hoffset="['-275','-124','-80','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['49','53','63','15']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 8;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/2c423-slide_cosm_1.png?15420175699108233270" alt="" data-ww="['400px','400px','400px','400px']" data-hh="['263px','263px','263px','263px']" data-no-retina> </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption rev-btn  tp-resizeme" 
			 id="slide-3383-layer-17" 
			 data-x="['center','center','center','left']" data-hoffset="['-351','-201','-149','-269']" 
			 data-y="['middle','middle','middle','top']" data-voffset="['210','226','220','497']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(66, 66, 66, 1.00);bc:rgba(0, 0, 0, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:karla;text-transform:uppercase;background-color:rgba(0, 0, 0, 1.00);padding:15px 30px 15px 30px;border-color:rgba(0, 0, 0, 0);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Brands </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption rev-btn  tp-resizeme" 
			 id="slide-3383-layer-18" 
			 data-x="['center','center','center','center']" data-hoffset="['-211','-58','-7','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['210','226','220','189']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:330;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(79, 79, 79, 1.00);bc:rgba(0, 0, 0, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 10; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:karla;text-transform:uppercase;background-color:rgba(0, 0, 0, 1.00);padding:15px 30px 15px 30px;border-color:rgba(0, 0, 0, 0);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Products </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-3384" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#f7f7f7' alt=""  data-bgposition="right center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3384-layer-20" 
			 data-x="['left','left','left','left']" data-hoffset="['-40','-116','-288','-356']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['6','6','-44','-35']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/13682-slider1_2-1.jpg?15420175699108233270" alt="" data-ww="['705px','705px','705px','705px']" data-hh="['698px','698px','698px','698px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3384-layer-15" 
			 data-x="['center','center','center','center']" data-hoffset="['287','187','140','50']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-199','-135']" 
						data-fontsize="['18','16','14','14']"
			data-width=""
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; min-width: px; max-width: px; white-space: nowrap; font-size: 18px; line-height: 46px; font-weight: 700; color: rgba(153, 153, 153, 1.00);font-family:Karla;text-align:center;letter-spacing:2px;">DISCOVER MORE SKINCARE </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3384-layer-13" 
			 data-x="['center','center','center','center']" data-hoffset="['288','207','136','49']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-122','-61']" 
						data-fontsize="['38','36','28','22']"
			data-lineheight="['46','46','36','32']"
			data-width=""
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; min-width: px; max-width: px; white-space: nowrap; font-size: 38px; line-height: 46px; font-weight: 400; color: rgba(35, 35, 35, 1.00);font-family:Sumana;text-align:center;letter-spacing:-0.3px;">Pink and gold lipsticks for every<br>
skintone new trending in 2016 season </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3384-layer-21" 
			 data-x="['center','center','center','center']" data-hoffset="['288','195','138','371']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['5','2','-31','-34']" 
						data-lineheight="['26','22','22','22']"
			data-width="500"
			data-height="none"
			data-whitespace="normal"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; min-width: 500px; max-width: 500px; white-space: normal; font-size: 16px; line-height: 26px; font-weight: 400; color: rgba(124, 124, 124, 1.00);font-family:Karla;text-align:center;">A gravida in eu est parturient dolor ad malesuada in sociosqu condimentum dapibus lorem semper fermentum posuere eu. </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption rev-btn  tp-resizeme" 
			 id="slide-3384-layer-17" 
			 data-x="['center','center','center','left']" data-hoffset="['204','115','63','509']" 
			 data-y="['middle','middle','middle','top']" data-voffset="['93','83','37','315']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(66, 66, 66, 1.00);bc:rgba(0, 0, 0, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:karla;text-transform:uppercase;background-color:rgba(0, 0, 0, 1.00);padding:15px 30px 15px 30px;border-color:rgba(0, 0, 0, 0);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Brands </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption rev-btn  tp-resizeme" 
			 id="slide-3384-layer-18" 
			 data-x="['center','center','center','center']" data-hoffset="['359','262','208','41']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['93','83','37','26']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:330;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(79, 79, 79, 1.00);bc:rgba(0, 0, 0, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 10; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:karla;text-transform:uppercase;background-color:rgba(0, 0, 0, 1.00);padding:15px 30px 15px 30px;border-color:rgba(0, 0, 0, 0);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Products </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-home-cosmetic-demo-baselmyshopifycom-->