<!--ID-home-electronics-demo-basel2myshopifycom--><!--[shopify-slider alias="home-electronics-demo-basel2myshopifycom"] -->
<div id="rev_slider_1118_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-electronics-demo-basel2myshopifycom" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
	<div id="rev_slider_1118_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-4070" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Meizu PRO 6" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#f9f9f9' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4070-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['-70','0','-150','2']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-78','-80','-80','-110']" 
						data-fontsize="['52','52','52','40']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 52px; line-height: 22px; font-weight: 700; color: rgba(20, 20, 20, 1.00);letter-spacing:-3px;">MEIZU MX6 </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4070-layer-4" 
			 data-x="['center','center','center','left']" data-hoffset="['-70','0','-150','-239']" 
			 data-y="['middle','middle','middle','top']" data-voffset="['-8','-8','-22','276']" 
						data-width="['339','339','339','293']"
			data-height="['68','67','none','none']"
			data-whitespace="normal"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; min-width: 339px; max-width: 339px; max-width: 68px; max-width: 68px; white-space: normal; font-size: 14px; line-height: 22px; font-weight: 400; color: rgba(89, 89, 89, 1.00);text-align:center;">Vel risus tincidunt dis Aenean ullamc orper blandit lacinia parturient contum nisi const  euismod. </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4070-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['-70','0','-151','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['40','41','40','-57']" 
						data-fontsize="['68','68','68','46']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 68px; line-height: 22px; font-weight: 700; color: rgba(224, 224, 224, 1.00);">$399.00 </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4070-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['879','879','651','879']" 
			 data-y="['top','top','top','top']" data-voffset="['-100','-100','-94','-100']" 
						data-width="300"
			data-height="1000"
			data-whitespace="nowrap"
			data-transform_idle="o:1;rZ:339;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; min-width: 300px; max-width: 300px; max-width: 1000px; max-width: 1000px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);background-color:rgba(237, 237, 237, 1.00);"> </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
			 id="slide-4070-layer-9" 
			 data-x="['left','left','left','left']" data-hoffset="['774','67','326','-169']" 
			 data-y="['top','top','top','top']" data-voffset="['113','77','262','174']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','on']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 9;"><img src="https://cdn.shopify.com/s/files/1/2285/2483/t/3/assets/a1cf0-symmetry-left_0bf4497.png?11389298974785001168" alt="" data-ww="['256px','246px','294px','294px']" data-hh="['536px','477px','614px','614px']" data-no-retina> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-10" 
			 id="slide-4070-layer-2" 
			 data-x="['left','left','left','left']" data-hoffset="['919','698','433','344']" 
			 data-y="['top','top','top','top']" data-voffset="['85','74','116','83']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 10;"><img src="https://cdn.shopify.com/s/files/1/2285/2483/t/3/assets/b0b47-symmetry-right_4731582.png?11389298974785001168" alt="" data-ww="['284px','284px','284px','284px']" data-hh="['551px','551px','551px','551px']" data-no-retina> </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4070-layer-12" 
			 data-x="['center','center','center','center']" data-hoffset="['-70','0','-150','-1']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-120','-118','-118','-142']" 
						data-fontsize="['14','14','14','12']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 11; white-space: nowrap; font-size: 14px; line-height: 22px; font-weight: 700; color: rgba(15, 141, 179, 1.00);text-transform:uppercase;">MEIZU ALWAYS HELP YOU </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption rev-btn " 
			 id="slide-4070-layer-14" 
			 data-x="['center','center','center','center']" data-hoffset="['-70','0','-150','-1']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['110','110','111','10']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(15, 141, 179, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 12; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 600; color: rgba(15, 141, 179, 1.00);font-family:karla;background-color:rgba(0, 0, 0, 0);padding:12px 20px 12px 20px;border-color:rgba(15, 141, 179, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">ADD TO CART </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-4071" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Apple Watch" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#f9f9f9' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4071-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['-60','0','-150','-100']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-77','-80','-80','-110']" 
						data-fontsize="['52','52','52','40']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 52px; line-height: 22px; font-weight: 700; color: rgba(20, 20, 20, 1.00);text-transform:uppercase;letter-spacing:-3px;">Apple Watch </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4071-layer-4" 
			 data-x="['center','center','center','left']" data-hoffset="['-60','0','-150','-239']" 
			 data-y="['middle','middle','middle','top']" data-voffset="['-8','-8','-22','276']" 
						data-width="['339','339','339','293']"
			data-height="['68','67','none','none']"
			data-whitespace="normal"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; min-width: 339px; max-width: 339px; max-width: 68px; max-width: 68px; white-space: normal; font-size: 14px; line-height: 22px; font-weight: 400; color: rgba(89, 89, 89, 1.00);text-align:center;">Vel risus tincidunt dis Aenean ullamc orper blandit lacinia parturient contum nisi const  euismod. </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4071-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['-60','0','-151','-100']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['40','41','40','-59']" 
						data-fontsize="['68','68','68','46']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 68px; line-height: 22px; font-weight: 700; color: rgba(224, 224, 224, 1.00);">$799.00 </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4071-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['879','879','651','879']" 
			 data-y="['top','top','top','top']" data-voffset="['-100','-100','-94','-100']" 
						data-width="300"
			data-height="1000"
			data-whitespace="nowrap"
			data-transform_idle="o:1;rZ:339;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; min-width: 300px; max-width: 300px; max-width: 1000px; max-width: 1000px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);background-color:rgba(251, 188, 52, 1.00);"> </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-8" 
			 id="slide-4071-layer-9" 
			 data-x="['left','left','left','left']" data-hoffset="['769','671','392','196']" 
			 data-y="['top','top','top','top']" data-voffset="['12','45','76','132']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 9;"><img src="https://cdn.shopify.com/s/files/1/2285/2483/t/3/assets/7081c-watch_08_fallback_large.png?1956654364138999472" alt="" data-ww="['411px','411px','411px','411px']" data-hh="['498px','498px','498px','498px']" data-no-retina> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4071-layer-12" 
			 data-x="['center','center','center','center']" data-hoffset="['-60','0','-150','-100']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-120','-118','-118','-142']" 
						data-fontsize="['14','14','14','12']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 10; white-space: nowrap; font-size: 14px; line-height: 22px; font-weight: 700; color: rgba(15, 141, 179, 1.00);text-transform:uppercase;">APPLE ALWAYS HELP YOU </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption rev-btn " 
			 id="slide-4071-layer-14" 
			 data-x="['center','center','center','center']" data-hoffset="['-60','0','-150','-101']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['110','110','111','10']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(15, 141, 179, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 11; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 600; color: rgba(15, 141, 179, 1.00);font-family:karla;background-color:rgba(0, 0, 0, 0);padding:12px 20px 12px 20px;border-color:rgba(15, 141, 179, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">ADD TO CART </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-home-electronics-demo-basel2myshopifycom-->