<!--ID-home-watch-demo-baselmyshopifycom--><!--[shopify-slider alias="home-watch-demo-baselmyshopifycom"] -->
<div id="rev_slider_810_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-watch-demo-baselmyshopifycom" style="margin:0px auto;background-color:#0a0a0a;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
	<div id="rev_slider_810_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-2910" data-transition="slidehorizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#000000' alt=""  data-bgposition="center center" data-bgfit="normal" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2910-layer-38" 
			 data-x="['left','left','left','left']" data-hoffset="['538','503','440','128']" 
			 data-y="['top','top','top','top']" data-voffset="['4','-2','-6','111']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/33006-watch-slide-1.jpg?3887688756950959760" alt="" data-ww="['808px','808px','808px','808px']" data-hh="['605px','605px','605px','605px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2910-layer-24" 
			 data-x="['center','center','center','center']" data-hoffset="['-310','-170','-70','0']" 
			 data-y="['top','top','top','top']" data-voffset="['177','177','177','100']" 
						data-fontsize="['70','88','67','67']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 70px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:lora;text-transform:uppercase;">Time Is Now </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2910-layer-25" 
			 data-x="['center','center','center','center']" data-hoffset="['-310','-170','-70','0']" 
			 data-y="['top','top','top','top']" data-voffset="['260','260','252','172']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 16px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:karla;text-align:center;letter-spacing:.3px;color:rgba(255,255,255,0.8);">Ultrices ipsum duis ante non accumsan parturient<br> ultrices quis nisi justo habitant id taciti. </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption rev-btn " 
			 id="slide-2910-layer-37" 
			 data-x="['center','center','center','center']" data-hoffset="['-310','-170','-70','0']" 
			 data-y="['top','top','top','top']" data-voffset="['334','334','324','241']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:karla;padding:10px 30px 10px 30px;border-color:rgba(255, 255, 255, 0.50);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP COLLECTION </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2910-layer-40" 
			 data-x="['left','left','left','center']" data-hoffset="['210','240','220','3']" 
			 data-y="['top','top','top','top']" data-voffset="['127','124','126','55']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 9;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/logo-maurice-lacroix.png?5138379393792132059" alt="" data-ww="['200px','200px','200px','200px']" data-hh="['20px','20','20','20px']" data-no-retina> </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-2911" data-transition="slidehorizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#000000' alt=""  data-bgposition="center center" data-bgfit="normal" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2911-layer-16" 
			 data-x="['left','left','left','left']" data-hoffset="['596','596','596','596']" 
			 data-y="['top','top','top','top']" data-voffset="['338','338','338','338']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;rZ:180;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 22px; line-height: ż60px;"><span style="    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.61);"></span> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2911-layer-24" 
			 data-x="['center','center','center','center']" data-hoffset="['1','1','1','1']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['31','63','63','63']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/6042e-watch-slide-2.jpg?3887688756950959760" alt="" data-ww="['718px','718px','718px','718px']" data-hh="['543px','543px','543px','543px']" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-2911-layer-25" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','1']" 
			 data-y="['top','top','top','top']" data-voffset="['24','24','40','42']" 
						data-fontsize="['39','36','26','16']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 39px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:lora;text-transform:uppercase;">time you enjoy wasting isn't wasted time. </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2911-layer-26" 
			 data-x="['center','center','center','center']" data-hoffset="['-39','-39','-39','0']" 
			 data-y="['top','top','top','top']" data-voffset="['73','70','93','84']" 
						data-fontsize="['28','26','20','20']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; white-space: nowrap; font-size: 28px; line-height: 60px; font-weight: 400; color: rgba(229, 229, 229, 1.00);font-family:karla;font-style:italic;">- John Lennon </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-home-watch-demo-baselmyshopifycom-->