<!--ID-home-base-demo-baselmyshopifycom--><!--[shopify-slider alias="home-base-demo-baselmyshopifycom"] -->
<div id="rev_slider_924_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-base-demo-baselmyshopifycom" style="margin:0px auto;background-color:#f7f7f7;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
	<div id="rev_slider_924_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-3378" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/2808a-main-big-baner-12.jpg?12689496428211002717"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/2808a-main-big-baner-12.jpg?12689496428211002717"  alt=""  data-bgposition="right top" data-kenburns="on" data-duration="25000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-3 -3" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
			 id="slide-3378-layer-38" 
			 data-x="['left','left','left','left']" data-hoffset="['720','675','478','79']" 
			 data-y="['top','top','top','top']" data-voffset="['-119','-57','-56','-17']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;rZ:8;"
 
			 data-transform_in="x:right;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:right;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/1d07a-bag-on-slider-demo.png?12689496428211002717" alt="" data-ww="['480px','459px','459px','330px']" data-hh="['748px','710px','710px','512px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3378-layer-28" 
			 data-x="['left','left','left','center']" data-hoffset="['22','22','22','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-45','-45','-45','-20']" 
						data-fontsize="['130','130','130','80']"
			data-lineheight="['130','130','130','22']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:left;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:left;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 130px; line-height: 130px; font-weight: 700; color: rgba(255, 255, 255, 1);font-family:karla;">MAN BAGS </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3378-layer-30" 
			 data-x="['left','left','left','center']" data-hoffset="['30','30','30','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-45','-45','-20','-20']" 
						data-fontsize="['240','240','240','180']"
			data-lineheight="['240','240','22','22']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="y:-50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 240px; line-height: 240px; font-weight: 400; color: rgba(255, 255, 255, 0.2);font-family:Lora;">2017 </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption rev-btn  tp-resizeme" 
			 id="slide-3378-layer-32" 
			 data-x="['center','center','center','center']" data-hoffset="['-487','-402','-278','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['136','160','136','111']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(0, 0, 0, 1);bg:rgba(255, 255, 255, 1);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="y:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(255, 255, 255, 1);font-family:Karla;padding:12px 35px 12px 35px;border-color:rgba(255, 255, 255, 1);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">LEARN MORE </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption rev-btn  tp-resizeme" 
			 id="slide-3378-layer-34" 
			 data-x="['center','center','center','left']" data-hoffset="['-312','-214','-95','-216']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['135','160','135','176']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1);bg:rgba(22, 130, 125, 1);bc:rgba(22, 130, 125, 1);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="y:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(255, 255, 255, 1);font-family:Karla;background-color:rgba(29, 170, 163, 1);padding:12px 35px 12px 35px;border-color:rgba(29, 170, 163, 1);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">OPEN SHOP </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3378-layer-40" 
			 data-x="['left','left','left','left']" data-hoffset="['31','31','30','-312']" 
			 data-y="['top','top','top','top']" data-voffset="['310','310','319','306']" 
						data-fontsize="['80','80','80','40']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="y:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 10; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 700; color: rgba(255, 255, 255, 1);font-family:Caveat;">New Men's Collection </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-3379" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#eeeeee' alt=""  data-bgposition="right top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3379-layer-30" 
			 data-x="['left','left','left','left']" data-hoffset="['35','35','35','35']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-36','-36','-36','-36']" 
						data-fontsize="['240','240','200','200']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="y:-50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 240px; line-height: 22px; font-weight: 400; color: rgba(160, 160, 160, 0.20);font-family:Lora;">2017 </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3379-layer-28" 
			 data-x="['left','left','left','left']" data-hoffset="['56','56','56','56']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-83','-83','-81','-81']" 
						data-fontsize="['80','80','70','70']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:left;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:left;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 22px; font-weight: 400; color: rgba(25, 25, 25, 1.00);font-family:lora;">Boys' </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
			 id="slide-3379-layer-42" 
			 data-x="['right','right','right','right']" data-hoffset="['-440','-429','-591','-720']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','40','16','47']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:right;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:right;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 7;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/489dd-slider-child.png?14863093113488769688" alt="" data-ww="['1076px','921px','921px','921px']" data-hh="['741px','634px','634px','634px']" data-no-retina> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3379-layer-43" 
			 data-x="['left','left','left','left']" data-hoffset="['47','47','47','46']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['8','8','-2','-2']" 
						data-fontsize="['80','80','70','70']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:left;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:left;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; white-space: nowrap; font-size: 80px; line-height: 22px; font-weight: 400; color: rgba(25, 25, 25, 1.00);font-family:lora;">Collections </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3379-layer-44" 
			 data-x="['left','left','left','left']" data-hoffset="['49','49','49','49']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['82','82','66','66']" 
						data-fontsize="['16','16','14','14']"
			data-lineheight="['26','26','22','22']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="y:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 9; white-space: nowrap; font-size: 16px; line-height: 26px; font-weight: 400; color: rgba(117, 117, 117, 1.00);font-family:karla;">Spring has arrived. Stock up with our  denim and sweatshirts<br>latest t-shirts, denim with our and sweatshirts. </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption rev-btn " 
			 id="slide-3379-layer-46" 
			 data-x="['left','left','left','left']" data-hoffset="['49','49','49','49']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['143','143','120','68']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(40, 40, 40, 1.00);bc:rgba(40, 40, 40, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="y:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 10; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Karla;background-color:rgba(0, 0, 0, 1.00);padding:10px 30px 10px 30px;border-color:rgba(0, 0, 0, 2.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-3380" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/2650b-main-big-baner-2.jpg?4151915502685891542"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/2650b-main-big-baner-2.jpg?4151915502685891542"  alt=""  data-bgposition="center top" data-kenburns="on" data-duration="11000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-3 -3" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3380-layer-28" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-44']" 
						data-fontsize="['120','120','120','70']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:-50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 120px; line-height: 22px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:karla;">NEW STYLE </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
			 id="slide-3380-layer-30" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-45','-45','-45','-22']" 
						data-fontsize="['250','250','250','210']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="y:-50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 250px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 0.20);font-family:Lora;">2017 </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3380-layer-37" 
			 data-x="['left','center','center','center']" data-hoffset="['283','0','0','-2']" 
			 data-y="['top','top','top','top']" data-voffset="['318','318','329','262']" 
						data-fontsize="['73','73','73','40']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="y:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 73px; line-height: 74px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Caveat;">Boots Collection For Men </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-home-base-demo-baselmyshopifycom-->