<!--ID-home-parallax-demo-baselmyshopifycom--><!--[shopify-slider alias="home-parallax-demo-baselmyshopifycom"] -->
<div id="rev_slider_927_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="home-parallax-demo-baselmyshopifycom" style="background-color:transparent;padding:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 fullscreen mode -->
	<div id="rev_slider_927_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-3385" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/3a923-parallax-bg.jpg?15415359906688071239"  data-rotate="0"  data-saveperformance="off"  data-title="Parallax" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/3a923-parallax-bg.jpg?15415359906688071239"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Power1.easeInOut" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
			 id="slide-3385-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-26','-48','-20','-97']" 
						data-fontsize="['56','36','32','28']"
			data-lineheight="['70','44','42','38']"
			data-fontweight="['900','800','900','900']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:800;e:easeOutQuint;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="800" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 56px; line-height: 70px; font-weight: 900; color: rgba(255, 255, 255, 1.00);font-family:lato;text-align:center;">BASEL PARALLAX DEMO<br>
PREMIUM TEMPLATE </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
			 id="slide-3385-layer-4" 
			 data-x="['center','center','center','left']" data-hoffset="['0','0','154','-239']" 
			 data-y="['middle','middle','middle','top']" data-voffset="['77','33','1','276']" 
						data-fontsize="['15','14','14','14']"
			data-lineheight="['24','22','22','22']"
			data-color="['rgba(255, 255, 255, 0.80)','rgba(255, 255, 255, 0.80)','rgba(89, 89, 89, 0.80)','rgba(89, 89, 89, 0.80)']"
			data-width="['none','none','none','293']"
			data-height="none"
			data-whitespace="['nowrap','nowrap','nowrap','normal']"
			data-visibility="['on','on','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:800;e:easeOutQuint;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="650" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 15px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 0.80);text-align:center;">Tempor adipiscing porta a in eros eros sodales non dis ut ullamcorper<br> aliquam tellus nisl. Lluctus nec ullamcorper mattis. </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
			 id="slide-3385-layer-12" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-130','-117','-92','-156']" 
						data-fontsize="['36','28','22','18']"
			data-lineheight="['22','22','22','20']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:800;e:easeOutQuint;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="950" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Satisfy;">This is custom subtitle </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption rev-btn  rs-parallaxlevel-7" 
			 id="slide-3385-layer-13" 
			 data-x="['center','center','center','center']" data-hoffset="['-91','-96','146','146']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['150','105','105','105']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 0.80);bc:rgba(255, 255, 255, 0.60);"
 
			 data-transform_in="y:-50px;opacity:0;s:800;e:easeOutQuint;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 700; color: rgba(22, 22, 22, 1.00);font-family:Lato;background-color:rgba(255, 255, 255, 1.00);padding:14px 30px 14px 30px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption rev-btn  rs-parallaxlevel-7" 
			 id="slide-3385-layer-14" 
			 data-x="['center','center','center','center']" data-hoffset="['104','102','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['150','105','70','-16']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:-50px;opacity:0;s:800;e:easeOutQuint;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Lato;background-color:rgba(255, 255, 255, 0);padding:14px 30px 14px 30px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">ADD TO CART </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-3386" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/2f17f-parallax-bg2.jpg?15415359906688071239"  data-rotate="0"  data-saveperformance="off"  data-title="Parallax" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/2f17f-parallax-bg2.jpg?15415359906688071239"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Power1.easeInOut" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
			 id="slide-3386-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['293','240','160','45']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-26','-48','-80','-97']" 
						data-fontsize="['48','36','32','28']"
			data-lineheight="['60','44','42','38']"
			data-fontweight="['900','800','900','900']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 48px; line-height: 60px; font-weight: 900; color: rgba(255, 255, 255, 1.00);font-family:lato;text-align:center;">FLEXIBLE STYLED THEME<br>
DESIGNED BY JThemes </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
			 id="slide-3386-layer-4" 
			 data-x="['center','center','center','left']" data-hoffset="['290','240','154','-239']" 
			 data-y="['middle','middle','middle','top']" data-voffset="['74','33','1','276']" 
						data-fontsize="['15','14','14','14']"
			data-lineheight="['24','22','22','22']"
			data-color="['rgba(255, 255, 255, 0.80)','rgba(255, 255, 255, 0.80)','rgba(89, 89, 89, 0.80)','rgba(89, 89, 89, 0.80)']"
			data-width="['none','none','none','293']"
			data-height="none"
			data-whitespace="['nowrap','nowrap','nowrap','normal']"
			data-visibility="['on','on','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 15px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 0.80);text-align:center;">Tempor adipiscing porta a in eros eros sodales non dis ut ullamcorper<br> aliquam tellus nisl. Lluctus nec ullamcorper mattis. </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
			 id="slide-3386-layer-12" 
			 data-x="['center','center','center','center']" data-hoffset="['291','240','160','45']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-120','-117','-141','-156']" 
						data-fontsize="['36','28','22','18']"
			data-lineheight="['22','22','22','20']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Satisfy;">This is custom subtitle </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption rev-btn  rs-parallaxlevel-7" 
			 id="slide-3386-layer-13" 
			 data-x="['center','center','center','center']" data-hoffset="['202','146','146','146']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['150','105','105','105']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 0.80);bc:rgba(255, 255, 255, 0.60);"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 700; color: rgba(22, 22, 22, 1.00);font-family:Lato;background-color:rgba(255, 255, 255, 1.00);padding:14px 30px 14px 30px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption rev-btn  rs-parallaxlevel-7" 
			 id="slide-3386-layer-14" 
			 data-x="['center','center','center','center']" data-hoffset="['386','344','160','45']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['150','105','4','-16']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Lato;background-color:rgba(255, 255, 255, 0);padding:14px 30px 14px 30px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">ADD TO CART </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-home-parallax-demo-baselmyshopifycom-->