<!--ID-home-cars-demo-baselmyshopifycom--><!--[shopify-slider alias="home-cars-demo-baselmyshopifycom"] -->
<div id="rev_slider_813_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-cars-demo-baselmyshopifycom" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
	<div id="rev_slider_813_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-2916" data-transition="crossfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/b6273-car-servise-slide-1-min.jpg?11281868914813745292"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/dummy.png"  alt=""  data-lazyload="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/b6273-car-servise-slide-1-min.jpg?11281868914813745292" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2916-layer-34" 
			 data-x="['left','left','left','left']" data-hoffset="['-467','-467','-467','-467']" 
			 data-y="['top','top','top','top']" data-voffset="['-1','-1','-1','-1']" 
						data-width="1076"
			data-height="701"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:left;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:left;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0.50);border-style:solid;background:linear-gradient(to right,  rgba(0,0,0,0.35) 20%,rgba(0,0,0,0) 100%);"> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2916-layer-30" 
			 data-x="['left','left','center','center']" data-hoffset="['30','80','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['72','72','33','33']" 
						data-fontweight="['900','700','900','900']"
			data-width="['601','601','601','408']"
			data-height="['124','124','124','125']"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:-50px;opacity:0;s:300;" 
			 data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;background-color:rgba(3, 103, 201, 0);border-color:rgba(3, 103, 201, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2916-layer-36" 
			 data-x="['left','left','center','center']" data-hoffset="['30','80','0','2']" 
			 data-y="['top','top','top','top']" data-voffset="['386','387','336','229']" 
						data-fontweight="['900','600','600','600']"
			data-width="['601','601','601','408']"
			data-height="124"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:-50px;opacity:0;s:300;" 
			 data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 7;background-color:rgba(3, 103, 201, 0);border-color:rgba(3, 103, 201, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption box-shadow rev-btn  tp-resizeme rs-parallaxlevel-2" 
			 id="slide-2916-layer-9" 
			 data-x="['left','left','center','center']" data-hoffset="['114','144','-157','-477']" 
			 data-y="['middle','bottom','bottom','bottom']" data-voffset="['50','170','111','89']" 
						data-fontsize="['16','14','14','14']"
			data-color="['rgba(255, 255, 255, 0.80)','rgba(252, 252, 252, 0.80)','rgba(252, 252, 252, 0.80)','rgba(252, 252, 252, 0.80)']"
			data-width=""
			data-height=""
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(10, 0, 5, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"shop\/","delay":""}]'
			data-responsive_offset="on" 

			
			style="z-index: 8; min-width: px; max-width: px; max-width: px; max-width: px; white-space: nowrap; font-size: 16px; color: rgba(255, 255, 255, 0.80);font-family:Open Sans;text-align:center;text-transform:uppercase;background-color:rgba(49, 48, 55, 0);padding:15px 45px 13px 45px;border-color:rgba(255, 247, 247, 0.80);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Read more </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption box-shadow rev-btn  tp-resizeme rs-parallaxlevel-2" 
			 id="slide-2916-layer-28" 
			 data-x="['left','left','center','center']" data-hoffset="['318','349','35','1']" 
			 data-y="['middle','bottom','bottom','bottom']" data-voffset="['50','170','111','93']" 
						data-fontsize="['16','14','14','14']"
			data-color="['rgba(255, 255, 255, 0.80)','rgba(252, 252, 252, 0.80)','rgba(252, 252, 252, 0.80)','rgba(252, 252, 252, 0.80)']"
			data-width=""
			data-height=""
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(2, 104, 221, 1.00);bc:rgba(3, 103, 201, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"shop\/","delay":""}]'
			data-responsive_offset="on" 

			
			style="z-index: 9; min-width: px; max-width: px; max-width: px; max-width: px; white-space: nowrap; font-size: 16px; color: rgba(255, 255, 255, 0.80);font-family:Open Sans;text-align:center;text-transform:uppercase;background-color:rgba(1, 92, 181, 1.00);padding:15px 45px 13px 45px;border-color:rgba(1, 92, 181, 0.80);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Shop now </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
			 id="slide-2916-layer-4" 
			 data-x="['left','left','left','center']" data-hoffset="['114','142','151','6']" 
			 data-y="['middle','top','top','top']" data-voffset="['-127','131','105','95']" 
						data-fontsize="['80','80','70','60']"
			data-lineheight="['80','80','70','60']"
			data-fontweight="['900','700','700','700']"
			data-color="['rgba(255, 255, 255, 1.00)','rgba(255, 255, 255, 1.00)','rgba(249, 249, 249, 1.00)','rgba(255, 255, 255, 1.00)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 10; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 900; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-transform:uppercase;">Offer<br> Discount

 </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
			 id="slide-2916-layer-31" 
			 data-x="['left','left','left','left']" data-hoffset="['114','146','153','-456']" 
			 data-y="['top','top','top','top']" data-voffset="['314','312','267','131']" 
						data-width="463"
			data-height="none"
			data-whitespace="normal"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 11; min-width: 463px; max-width: 463px; white-space: normal; font-size: 16px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 0.80);font-family:Roboto;">Convallis dapibus ipsum posuere ac vivamus semper praesent ligula inceptos vivamus parturient volutpat ac class </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2916-layer-40" 
			 data-x="['left','left','left','left']" data-hoffset="['-33','15','24','-186']" 
			 data-y="['top','top','top','top']" data-voffset="['278','277','234','265']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;rZ:90;"
 
			 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:-50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 12; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Raleway;">CARS SERVICE </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-2917" data-transition="crossfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/adb16-car-servise-slide-3.jpg?11281868914813745292"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/dummy.png"  alt=""  data-lazyload="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/adb16-car-servise-slide-3.jpg?11281868914813745292" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2917-layer-34" 
			 data-x="['left','left','left','left']" data-hoffset="['-467','-467','-467','-467']" 
			 data-y="['top','top','top','top']" data-voffset="['-1','-1','-1','-1']" 
						data-width="1076"
			data-height="701"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:left;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:left;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0.50);border-style:solid;background:linear-gradient(to right,  rgba(0,0,0,0.35) 20%,rgba(0,0,0,0) 100%);"> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2917-layer-30" 
			 data-x="['left','left','center','center']" data-hoffset="['30','80','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['72','72','33','33']" 
						data-fontweight="['900','700','900','900']"
			data-width="['601','601','601','408']"
			data-height="['124','124','124','125']"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:-50px;opacity:0;s:300;" 
			 data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;background-color:rgba(3, 103, 201, 0);border-color:rgba(193, 19, 24, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-2917-layer-36" 
			 data-x="['left','left','center','center']" data-hoffset="['30','80','0','2']" 
			 data-y="['top','top','top','top']" data-voffset="['386','387','336','229']" 
						data-fontweight="['900','600','600','600']"
			data-width="['601','601','601','408']"
			data-height="124"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:-50px;opacity:0;s:300;" 
			 data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 7;background-color:rgba(3, 103, 201, 0);border-color:rgba(193, 19, 24, 1.00);border-style:solid;"> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption box-shadow rev-btn  tp-resizeme rs-parallaxlevel-2" 
			 id="slide-2917-layer-9" 
			 data-x="['left','left','center','center']" data-hoffset="['114','144','-157','-477']" 
			 data-y="['middle','bottom','bottom','bottom']" data-voffset="['50','170','111','89']" 
						data-fontsize="['16','14','14','14']"
			data-color="['rgba(255, 255, 255, 0.80)','rgba(252, 252, 252, 0.80)','rgba(252, 252, 252, 0.80)','rgba(252, 252, 252, 0.80)']"
			data-width=""
			data-height=""
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(10, 0, 5, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"shop\/","delay":""}]'
			data-responsive_offset="on" 

			
			style="z-index: 8; min-width: px; max-width: px; max-width: px; max-width: px; white-space: nowrap; font-size: 16px; color: rgba(255, 255, 255, 0.80);font-family:Open Sans;text-align:center;text-transform:uppercase;background-color:rgba(49, 48, 55, 0);padding:15px 45px 13px 45px;border-color:rgba(255, 247, 247, 0.80);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">read more </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption box-shadow rev-btn  tp-resizeme rs-parallaxlevel-2" 
			 id="slide-2917-layer-28" 
			 data-x="['left','left','center','center']" data-hoffset="['318','349','35','1']" 
			 data-y="['middle','bottom','bottom','bottom']" data-voffset="['50','170','111','93']" 
						data-fontsize="['16','14','14','14']"
			data-color="['rgba(255, 255, 255, 0.80)','rgba(252, 252, 252, 0.80)','rgba(252, 252, 252, 0.80)','rgba(252, 252, 252, 0.80)']"
			data-width=""
			data-height=""
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(193, 62, 66, 1.00);bc:rgba(193, 62, 66, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"shop\/","delay":""}]'
			data-responsive_offset="on" 

			
			style="z-index: 9; min-width: px; max-width: px; max-width: px; max-width: px; white-space: nowrap; font-size: 16px; color: rgba(255, 255, 255, 0.80);font-family:Open Sans;text-align:center;text-transform:uppercase;background-color:rgba(193, 19, 24, 1.00);padding:15px 45px 13px 45px;border-color:rgba(193, 19, 24, 0.80);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Shop now </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
			 id="slide-2917-layer-4" 
			 data-x="['left','left','left','center']" data-hoffset="['114','142','151','6']" 
			 data-y="['middle','top','top','top']" data-voffset="['-127','131','105','95']" 
						data-fontsize="['80','80','70','60']"
			data-lineheight="['80','80','70','60']"
			data-fontweight="['900','700','700','700']"
			data-color="['rgba(255, 255, 255, 1.00)','rgba(255, 255, 255, 1.00)','rgba(249, 249, 249, 1.00)','rgba(255, 255, 255, 1.00)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 10; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 900; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-transform:uppercase;">Rover<br> Discovery

 </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
			 id="slide-2917-layer-31" 
			 data-x="['left','left','left','left']" data-hoffset="['114','146','153','-456']" 
			 data-y="['top','top','top','top']" data-voffset="['314','312','267','131']" 
						data-width="463"
			data-height="none"
			data-whitespace="normal"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 11; min-width: 463px; max-width: 463px; white-space: normal; font-size: 16px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 0.80);font-family:Roboto;">Convallis dapibus ipsum posuere ac vivamus semper praesent ligula inceptos vivamus parturient volutpat ac class </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2917-layer-40" 
			 data-x="['left','left','left','left']" data-hoffset="['-33','15','24','-186']" 
			 data-y="['top','top','top','top']" data-voffset="['278','277','234','265']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;rZ:90;"
 
			 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="x:-50px;opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 12; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Raleway;">CARS SERVICE </div>
	</li>
</ul>
<div style="" class="tp-static-layers">

		<!-- LAYER NR. 1 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme tp-static-layer" 
			 id="slider-813-layer-34" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['1','1','1','1']" 
						data-width="full"
			data-height="200"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 5;font-family:Open Sans;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);border-style:solid;background:linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.62) 100%);"> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme tp-static-layer" 
			 id="slider-813-layer-63" 
			 data-x="['left','left','left','left']" data-hoffset="['25','25','25','25']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['275','275','275','275']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','off','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 6; white-space: nowrap; font-size: 64px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 0.80);font-family:Open Sans;"><i class="pe-7s-help2"></i> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme tp-static-layer" 
			 id="slider-813-layer-36" 
			 data-x="['left','left','left','left']" data-hoffset="['109','109','109','109']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['42','42','42','42']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','off','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 7; white-space: nowrap; font-size: 12px; line-height: 20px; font-weight: 400; color: rgba(255, 255, 255, 0.70);font-family:Open Sans;">Convallis egestas volutpat vestibulum<br> vestibulum a at mauris vestibulum. </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme tp-static-layer" 
			 id="slider-813-layer-35" 
			 data-x="['left','left','left','left']" data-hoffset="['109','109','109','109']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['91','91','91','91']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','off','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 8; white-space: nowrap; font-size: 16px; line-height: 16px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Roboto;">Support when you need it </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme tp-static-layer" 
			 id="slider-813-layer-66" 
			 data-x="['left','left','left','left']" data-hoffset="['469','469','469','469']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['277','277','277','277']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','off','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 9; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 0.80);font-family:Open Sans;"><i class="pe-7s-tools"></i> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme tp-static-layer" 
			 id="slider-813-layer-67" 
			 data-x="['left','left','left','left']" data-hoffset="['551','551','551','551']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['89','89','89','89']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','off','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 10; white-space: nowrap; font-size: 16px; line-height: 16px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Roboto;">Support when you need it </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme tp-static-layer" 
			 id="slider-813-layer-68" 
			 data-x="['center','center','center','center']" data-hoffset="['38','38','38','38']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['43','43','43','43']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','off','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 11; white-space: nowrap; font-size: 12px; line-height: 20px; font-weight: 400; color: rgba(255, 255, 255, 0.70);font-family:Open Sans;">Convallis egestas volutpat vestibulum<br> vestibulum a at mauris vestibulum. </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme tp-static-layer" 
			 id="slider-813-layer-69" 
			 data-x="['left','left','left','left']" data-hoffset="['907','907','907','907']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['276','276','276','276']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','off','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 12; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 0.80);font-family:Open Sans;"><i class="pe-7s-timer"></i> </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption   tp-resizeme tp-static-layer" 
			 id="slider-813-layer-70" 
			 data-x="['left','left','left','left']" data-hoffset="['988','988','988','988']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['88','88','88','88']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','off','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 13; white-space: nowrap; font-size: 16px; line-height: 16px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Roboto;">Support when you need it </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption   tp-resizeme tp-static-layer" 
			 id="slider-813-layer-71" 
			 data-x="['left','left','left','left']" data-hoffset="['989','989','989','989']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['44','44','44','44']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','off','off','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-startslide="0" 
			data-endslide="1" 
			
			style="z-index: 14; white-space: nowrap; font-size: 12px; line-height: 20px; font-weight: 400; color: rgba(255, 255, 255, 0.70);font-family:Open Sans;">Convallis egestas volutpat vestibulum<br> vestibulum a at mauris vestibulum. </div>
</div>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-home-cars-demo-baselmyshopifycom-->