<!--ID-home-minimalist-demo-baselmyshopifycom--><!--[shopify-slider alias="home-minimalist-demo-baselmyshopifycom"] -->
<div id="rev_slider_930_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-minimalist-demo-baselmyshopifycom" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 auto mode -->
	<div id="rev_slider_930_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-3391" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-delay="23800"  data-rotate="0"  data-saveperformance="off"  data-title="Summer glasses" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#f4f4f4' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3391-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['712','596','463','280']" 
			 data-y="['top','top','top','top']" data-voffset="['-17','-28','-30','5']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/15d7d-slide-1.png?8204000669166912669" alt="" data-ww="['469px','469px','469px','469px']" data-hh="['600px','600px','600px','600px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3391-layer-5" 
			 data-x="['center','center','center','center']" data-hoffset="['-273','-205','-152','-102']" 
			 data-y="['top','top','top','top']" data-voffset="['85','91','65','126']" 
						data-fontsize="['22','22','18','16']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 22px; line-height: 32px; font-weight: 400; color: rgba(173, 171, 171, 1.00);font-family:Lora;font-style:italic;">Latest summer collection from </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3391-layer-2" 
			 data-x="['center','center','center','center']" data-hoffset="['-267','-198','-145','-62']" 
			 data-y="['top','top','top','top']" data-voffset="['133','133','111','147']" 
						data-fontsize="['56','56','48','34']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;tO:% %;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 56px; line-height: 70px; font-weight: 300; color: rgba(45, 45, 45, 1.00);font-family:Lato;">DUSTY CROMWELL </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3391-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['-246','-205','-129','-82']" 
			 data-y="['top','top','top','top']" data-voffset="['213','221','193','216']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 8;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/a9c4a-slide-1-2.png?8204000669166912669" alt="" data-ww="['411px','411px','411px','303px']" data-hh="['179px','179px','179px','132px']" data-no-retina> </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3391-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['-348','-287','-146','-148']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['167','169','134','81']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 9; white-space: nowrap; font-size: 30px; line-height: 48px; font-weight: 300; color: rgba(229, 13, 13, 1.00);font-family:Lato;font-style:italic;">- $139.00 </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption rev-btn " 
			 id="slide-3391-layer-7" 
			 data-x="['center','center','center','center']" data-hoffset="['-183','-115','-142','-126']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['169','167','192','148']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(73, 73, 73, 1.00);bc:rgba(73, 73, 73, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 10; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Lato;background-color:rgba(10, 10, 10, 1.00);padding:10px 30px 10px 30px;border-color:rgba(0, 0, 0, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">BUY NOW </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-3392" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-delay="23800"  data-rotate="0"  data-saveperformance="off"  data-title="New collection" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#f4f4f4' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3392-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['21','21','-101','-314']" 
			 data-y="['top','top','top','top']" data-voffset="['-59','-59','-90','-38']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/f03ca-slide-2.jpg?8204000669166912669" alt="" data-ww="['522px','522px','522px','522px']" data-hh="['666px','666px','666px','666px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3392-layer-5" 
			 data-x="['center','center','center','center']" data-hoffset="['257','212','158','84']" 
			 data-y="['top','top','top','top']" data-voffset="['60','54','62','85']" 
						data-fontsize="['22','22','18','18']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 22px; line-height: 32px; font-weight: 400; color: rgba(173, 171, 171, 1.00);font-family:Lora;font-style:italic;">Latest summer collection from </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3392-layer-2" 
			 data-x="['center','center','center','center']" data-hoffset="['250','216','170','50']" 
			 data-y="['top','top','top','top']" data-voffset="['108','99','99','113']" 
						data-fontsize="['56','56','42','36']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;tO:% %;"
 
			 data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; white-space: nowrap; font-size: 56px; line-height: 70px; font-weight: 300; color: rgba(45, 45, 45, 1.00);font-family:Lato;">DUSTY CROMWELL </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3392-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['280','221','164','105']" 
			 data-y="['top','top','top','top']" data-voffset="['181','181','181','194']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 8;"><img src="https://cdn.shopify.com/s/files/1/1933/6253/t/1/assets/e2b7d-slide-2-2.jpg?8204000669166912669" alt="" data-ww="['327px','327px','272px','272px']" data-hh="['251px','251px','209px','209px']" data-no-retina> </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3392-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['180','147','163','115']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['200','202','179','154']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 9; white-space: nowrap; font-size: 30px; line-height: 48px; font-weight: 300; color: rgba(229, 13, 13, 1.00);font-family:Lato;font-style:italic;">- $139.00 </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption rev-btn " 
			 id="slide-3392-layer-7" 
			 data-x="['center','center','center','center']" data-hoffset="['355','307','314','120']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['202','205','210','237']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(73, 73, 73, 1.00);bc:rgba(73, 73, 73, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 10; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Lato;background-color:rgba(10, 10, 10, 1.00);padding:10px 30px 10px 30px;border-color:rgba(0, 0, 0, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">BUY NOW </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER --><!--/ID-home-minimalist-demo-baselmyshopifycom-->