<a class="jas-wc-help" id="tea-theme-update" style="display:none" href="#popup_basel">Set up version</a>
<div class="basel-promo-popup tea-promo-popup mfp-hide" id="popup_basel">
	<div class="tabs">

       <div class="tab">
           <input type="radio" id="tab-1" name="tab-group-1" value="demo" checked>
           <label for="tab-1">Demo versions</label>

           <div class="content">
           		<div class="imported-base">
	           		<div class="claue-success base-imported-alert">
							Now you can choose any version to apply its settings for your website or leave a default one.
							You are be able to switch to default version settings any time.
						</div>
						<div class="claue-box-footer">
							<p><strong>WARNING</strong>: it may override all theme settings and reload the editor. You should backup your theme settings using Export tab before importing. </p>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/prev-main.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home1" >Set up home default</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/menu-lingerie.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home2" >Set up home lingerie</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/menu-cosmetics.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home3">Set up home cosmetics</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/prev-slider.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home4" >Set up home hero slider</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/menu-wine.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home5" >Set up home wine</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/menu-cars.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home6" >Set up home cars</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/prev-watch.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home7" >Set up home watches</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/jewellery-menu.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home8" >Set up home jewellery</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/prev-flovers.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home9" >Set up home flovers</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/menu-minimalist.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home10" >Set up home minimalist</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/preview.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home11" >Set up home parallax</button>
							</div>
						</div>
                        <div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/preview.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home12" >Set up home electronics</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/fashion-flat_c13c33e8-2856-4c53-9e3f-361a96113ace.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home13" >Set up home fashion flat</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/flat-full-width.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home14" >Set up home flat full-width</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/fashion.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home15" >Set up home fashion store</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/marketplace.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home16" >Set up home marketplace</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/furniture.jpg" alt="furniture">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home17" >Set up home Furniture demo</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/hand_pre.jpg?18445418250974416888" alt="furniture">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home18" >Set up home Handmade</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/sport_613de8de-62a9-447d-aa41-5fa9986e3071.jpg?15628635282339803368" alt="Sport">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home19" >Set up home Sport</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/bicycle_6bc9d0c6-67f4-411d-8af6-0e81261983a0.jpg?15628635282339803368" alt="Bicycle">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home20" >Set up home Bicycle</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/dark_6b019e0a-8429-4042-9a15-635b473e6871.jpg?15628635282339803368" alt="Dark">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home21" >Set up home Dark</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/pets_7f2c30c9-7295-4724-86f8-b1354610cd52.jpg?15628635282339803368" alt="Pets">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home22" >Set up home Pets</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="https://cdn.shopify.com/s/files/1/2285/2483/files/preview_30d6cdf2-ae77-45d7-a43d-395bf5356bac.jpg?3009492093092975247" alt="Coffee">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home23" >Set up home Coffee</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/shoes_9b25b80d-c549-42b1-84f5-fdc84bfb3ba4.jpg?15628635282339803368" alt="Shoes">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home24" >Set up home Shoes</button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/organic_ff8053d1-eb14-492a-9f3e-03f571bf5bc8.jpg?15628635282339803368" alt="Pets">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home25" >Set up home Organic</button>
							</div>
						</div>
					</div>
           </div>
       </div>

       <div class="tab">
           <input type="radio" id="tab-2" name="tab-group-1" value="import">
           <label for="tab-2">Import</label>

           <div class="content">
           <form action="">
               <textarea class="tea-form-control " id="tea-import-from-text" rows="10" placeholder="Paste the exported data here..."></textarea>
           		<div class="pt__30 tr"><button class="btn btn-secondary" id="tea-import-from-btn" type="submit">IMPORT AND SAVE</button></div>
           	</form>
           </div>
       </div>

        <div class="tab">
           <input type="radio" id="tab-3" name="tab-group-1" value="export">
           <label for="tab-3">Export</label>

           <div class="content">
           	<form action="">
               <textarea id="tea-form-export" class="tea-form-control" rows="10" placeholder="Paste the exported data here..."></textarea>
           	</form>
           </div>
       </div>

    </div>
</div>