<div class="main-page-wrapper">
    <!-- MAIN CONTENT AREA -->
      <div class="container">
         <div class="row">
            <div class="site-content col-sm-12" role="main">
            {{ content_for_index }}
            </div><!-- .site-content -->
         </div><!-- end row -->
      </div><!-- end container -->
      <!-- end container -->
</div><!-- .main-page-wrapper -->

