<div class="main-page-wrapper">
   <!-- MAIN CONTENT AREA -->
   {%- include 'page_heading', page_title:page.title -%}
   <div class="container">
      <div class="row">
         <div class="site-content col-sm-12" role="main">
            {%- include 'shortcode' load: page.content -%}
         </div>
      </div>
   </div>
</div>
