<div class="standard-page">
  <h2 class="standard-page__title">{{ page_title }}</h2>
  <div class="grid grid--uniform">
    {% for collection in collections %}
      <div class="grid__item medium-down--one-half large--one-quarter">
        {% include 'collection-card' %}
      </div>
    {% endfor %}
  </div>
</div>
