<div class="page__header not__found">
  <div class="page-width">
    <div class="text-center">
      {{ settings.page_notfound_header_image | img_url: "master" | img_tag  }}
    </div>
  </div>
</div>

<div class="page-width">
  <div class="text-center">
    <h2 class="page__title page__title--404">{{ 'general.404.title_html' | t }}</h2>
    <p>{{ 'general.404.subtext_html' | t }}</p>
    <h2 class="title__404">{{ 'general.404.404_title' | t }}</h2>
  </div>
</div>
