{% comment %}
  The contents of the list-collections.liquid template can be found in /sections/list-collections.liquid
{% endcomment %}

<div class="page-width">
  {% section 'list-collections' %}
</div>
