{%- comment -%}
(c) Tonytemplates Ltd,
https://www.tonytemplates.com/
support@tonytemplates.com
{%- endcomment -%}
<div class="tt-footer__pay-tape">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				{% include 'footer-copyright' %}
				{% include 'footer-payment' %}
			</div>
		</div>
	</div>
</div>