{%- comment -%}
(c) Tonytemplates Ltd,
https://www.tonytemplates.com/
support@tonytemplates.com
{%- endcomment -%}
<a href="#" class="tt-footer__to-top{% if section.settings.show_totop_desktop %} tt-footer__to-top-desktop{% endif %}" data-btn-top-limit="{{ section.settings.btn_top_limit }}">
	<i class="icon-up-open-1"></i>
	<i class="icon-up"></i><span>{{ 'layout.footer.btn_to_top' | t }}</span>
</a>