<div class="product-form__cart product-form__cart--sticky large--hide" >
  <button  class="btn btn--special btn--full product-form__cart-submit product-atc-btn">
    <span class="btn-text">{{ 'products.product.add_to_cart' | t }}</span>
    {% if settings.countdown_offer_enabled %}
      <span class="countdown-offer-clock hide"  >
          <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="countdown-clock" >0d 0h 0m 0s</span>
      </span>
    {% endif %}
    </button>
</div>
