<!-- snippet/product-price.liquid -->
{%- assign money_price = product.price | money -%}

{% if product.compare_at_price > product.price %}
  <s class="product-price__old">{{ product.compare_at_price | money }}</s>
  <span class="product-price__price product-price__sale">{{ money_price }}</span>
{% else %}
  <span class="product-price__price">{{ money_price }}</span>
{% endif %}

{% unless product.available %}
  <span class="product-price__sold-out">{{ 'products.product.sold_out' | t }}</span>
{% endunless %}
