<header class="page-header">
  <div class="container">
    <h2>{% include 'multilang' with collection.title %}</h2>

    {% include 'breadcrumb' %}
  </div>     
</header>

<div class="container">
  <div class="row">
    {% include 'collection-sidebar' %}
    <div class="block-row col-xs-12 {% if settings.display_sidebar_cat_page %}col-sm-9 {% endif %}col-main">
      {% paginate collection.products by 30 %}

      {% include 'collection-header' %}
      {% include 'toolbar-list' %}

      <div class="product-list">
        {% if collection.products.size > 0 %}
          {% for product in collection.products %}
          {% include 'product-list-item' %}
          {% endfor %}
        {% else %}
          <p style="text-align: center;" {% if settings.enable_multilang %}data-translate="collections.general.no_matches"{% endif %}>{{ 'collections.general.no_matches' | t }}</p>
        {% endif %}        
      </div>

      {% if paginate.pages > 1 %}
      <div class="padding">
        {% include 'pagination-page' %}
      </div>
      {% endif %}
      {% endpaginate %}
    </div>
  </div>
</div>

{% if settings.display_recently_viewed_products %} 
{% include 'recently-viewed-products' %}
{% endif %}