<div class="container">
  <div class="row">
    <div class="col-xs-3 visible-lg vertical-nav">
      <div class="nav-bar">
        {% include 'site-nav' %}
      </div>
    </div>
    {% include 'homepage-flexslider' %}
  </div>
</div>

{% comment %} Block Six Banner {% endcomment %}
{% include 'homepage-block-six-banner' %}

{% comment %} Block Three Text {% endcomment %}
{% include 'homepage-block-three-text' %}

{% comment %} Block Weekly Special {% endcomment %}
{% include 'homepage-block-weekly-special' %}

{% comment %} Block Computers & Laptops {% endcomment %}
{% include 'homepage-block-computer' %}

{% comment %} Block Three Banner {% endcomment %}
{% include 'homepage-block-three-banner' %}

{% comment %} Block Smartphones & Tablets {% endcomment %}
{% include 'homepage-block-smartphone' %}

{% comment %} Block Two Banner {% endcomment %}
{% include 'homepage-block-two-banner-2' %}

{% comment %} Block Trending Now {% endcomment %}
{% include 'homepage-block-books' %}

{% comment %} Block Banner Bootom {% endcomment %}
{% include 'homepage-block-banner-bottom' %}

{% comment %} Block Brands Slider {% endcomment %}
{% include 'brands' %}