<h2 class="standard-page__title">{{ article.title }}</h2>

{% if section.settings.blog_show_author %}
  <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
{% endif %}

{% if section.settings.blog_show_date %}
  <span class="article__date pull-right">
    {{ article.published_at | time_tag: format: 'month_day_year' }}
  </span>
{% endif %}

<div class="rte article__body" itemprop="articleBody">
  {{ article.content }}
</div>

{% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      }
    ]
  }
{% endschema %}
