<header class="page-header medium-down--hide">
  {% include 'breadcrumb' %}
</header>

<div class="standard-page" data-section-type="page-template">
  <h2 class="standard-page__title">{{ page.title }}</h2>
  <div class="standard-page__body">
    {{ page.content }}
  </div>
</div>
