{% comment %}
  Regular page content goes here.
{% endcomment %}
<div class="wrapper">
  <div class="rte">
    <div class="grid">
    <div class="grid__item one-whole">
      {% assign slider = false %}
      {% assign slider_and_img = false %}
      
      {% assign  content_html =  page.content %}

      {% comment %}
      Strip unnecessary html
      {% endcomment %}
      {% include 'strip_html_tags' with content_html %}

      {% if content contains '[/slider]' %}
        {% assign slider = true %}
      {% endif %}

      {% if slider == true %}
        {% assign first_block = content | split: '[/slider]' | first %}
        {% assign last_block = content | split: '[/slider]' | last %}
        {{ first_block | split: '[slider]' | first }}
        {% include 'about-us-advantages' %}
        {{ last_block }}
      {% else %}
        {{ page.content }}
      {% endif %}
    </div>
    </div>
  </div>
</div>