{% if settings.enable_multilang %}
<span class="lang1">{{ multilang | split: '|' | first }}</span>
<span class="lang2">{{ multilang | split: '|' | last }}</span>
{% else %}
<span>{{ multilang | split: '|' | first }}</span>
{% endif %}